<header class="mui-appbar mui--z1">
  <div class="mui-container">
    <table width="100%">
      <tr class="mui--appbar-height">
        <td class="mui--text-title"><a href="/static_pages/home">Chippewa Valleys Rideshare</a></td>
        <td align="right">
          <ul class="mui-list--inline mui--text-body2">
            <li><a href="/static_pages/ride">Ride</a></li>
            <li><a href="/static_pages/drive">Drive</a></li>
            <li><a href="/sign_in">Sign In</a></li>
            <li><a href="/sign_up">Sign Up</a></li>
          </ul>
        </td>
      </tr>
    </table>
  </div>
</header>
