/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 /**
  * Body CSS
  */

 html,
 body {
   height: 100%;
 }

 html,
 body,
 input,
 textarea,
 button {
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
 }


 /**
  * Header CSS
  */

 header {
   position: fixed;
   top: 0;
   right: 0;
   left: 0;
   z-index: 2;
 }

 header ul.mui-list--inline {
   margin-bottom: 0;
 }

 header a {
   color: white;
 }


 /**
  * Content CSS
  */

 #content-wrapper {
   min-height: 100%;

   /* sticky footer */
   box-sizing: border-box;
   margin-bottom: -100px;
   padding-bottom: 100px;
 }


 /**
  * Footer CSS
  */

 footer {
   box-sizing: border-box;
   height: 100px;
   background-color: #eee;
   border-top: 1px solid #e0e0e0;
   padding-top: 35px;
 }
