<% provide(:title, "Home") %>
<div id="content-wrapper" class="mui--text-center">
  <div class="mui--appbar-height"></div>
  <br>
  <br>
  <div class="mui--text-display3"><%= image_tag("homePage.jpg", :alt => "") %></div>
  <%= link_to "Sign up", new_user_registration_path, class: "mui-btn mui-btn--raised" %>
  <%= link_to "Log in", new_user_session_path, class: "mui-btn mui-btn--raised" %>

</div>
