<% if user_signed_in? %>
<div id="content-wrapper" class="mui-text-center">
  <div class="mui-appbar-height"></div>
  <div >
    <div id="profile">
        <h1> Person's Name <%= current_user%> </h1>
        <div>
            <div><p>Image here</p></div>
            <h3>About:</h3>
            <p>
              Age:
              <br>
              City:
              <br>
              State:
              <br>
              Driver:
              <br>
              Rider:
              <br>
              Vehicles:
              <br>
            </p>
        </div>
    </div>
    <div id="profileRight">
        <h1>Events</h1>
        <div>
          
        </div>
    </div>
    <div id="profileRightTwo">
        <h1>Members</h1>
        <div>
          List of members here...
        </div>
    </div>
</div>
</div>
<% else %>
<% render 'static_pages_home' %>
<<% end %>
