
<div id="content-wrapper" class="mui-text-center">
  <div class="mui-appbar-height"></div>
  <div >
    <div id="profile">
<<<<<<< HEAD
      <!--<div><p>Image here</p></div> -->
        <h1> User's Name:</h1>
=======
      <div><p>Image here</p></div>
        <h1><%= current_user.username%>'s Profile </h1>
>>>>>>> 552153de342c936a9ac429eb21b3aaa17b8994b1
        <div>
            <h3>About:</h3>
            <p>
              Age:
              <br>
              City:
              <br>
              State:
              <br>
              Driver:
              <br>
              Rider:
              <br>
              Vehicles: <%= @vehicles %>
              <br>
            </p>
        </div>
    </div>
    <div id="profileRight">
        <h1>Members</h1>
        <div>
          List of members here...
        </div>
    </div>
    <div id="profileRightTwo">
        <h1>Events</h1>
        <div>

        </div>
    </div>
</div>
</div>
