<h2> Event Location: </h2>

<iframe
  width="600"
  height="450"
  frameborder="0" style="border:0"
  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAX3dWkgB8EWa7_vxNhl-VrOpwCPbyMzFo&q=<%= @event_list.streetAddress %>,<%= @event_list.City %>+<%= @event_list.State %>+<%= @event_list.Zip %>" allowfullscreen>
</iframe>

<br>